-# <!DOCTYPE html>
-# <html>
-# <head>
-# <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
-# <title></title>
-# <meta name= />
-# <meta name=">
-# </head>

-# <body>
-# <div class='flash-box'>
-# </div>

-# -# -# .wrapper
 
 

-# -#   .chat_side
-# -#     .side_header
-# -#       .side_header_box
-# -#         .user_name
-# -#           name
-# -#         .side_header_box_menu_new-group
          
-# -#     .groups
-# -#       sample
-# -#       Goodbye world!


-# -#   .chat-main
-# -#     .main-header
-# -#       サンプル
-# -#       .main-header_button
-# -#         Edit
-# -#     .messages
-# -#       .upper_message
-# -#         .upper_message_user-name
          
-# -#         .upper_message_data
        
-# -#       .lower_message
-# -#         .lower_message_content
        

        
         
      
-# -#     .form
-# -#       %form
-# -#         %input.form__message
-# -#         .form__mask
-# -#           %label.upload-label{for: "upload-icon"}
-# -#             %i.fa.fa-picture-o
-# -#               -# = f.file_field :image, id: "upload-icon"
      





-# -# -# -# </html>

-# -# .wrapper

-# -#   -# = render 'shared/side_bar'

-#   .chat
-#     .header
-#       .left-header
-#         .left-header__title
-#           グループ名
-#         %ul.left-header__members
-#           Member：
-#           %li.member
-#             メンバー名
-#           %li.member
-#             メンバー名
-#           %li.member
-#             メンバー名
-#       .right-header
-#         .right-header__button
-#           Edit
-#     .messages
-#       .message
-#         .upper-message
-#           .upper-message__user-name
-#             メンバー
-#           .upper-message__date
-#             2017/04/04
-#         .lower-meesage
-#           .lower-message__content
-#             メッセージ
-#       .message
-#         .upper-message
-#           .upper-message__user-name
-#             メンバー
-#           .upper-message__date
-#             2017/04/04
-#         .lower-meesage
-#           .lower-message__content
-#             メッセージ
-#       .message
-#         .upper-message
-#           .upper-message__user-name
-#             メンバー
-#           .upper-message__date
-#             2017/04/04
-#         .lower-meesage
-#           .lower-message__content
-#             メッセージ
-#     .form
-#       %form
-#         %input.form__message
-#         .form__mask
-#           %label.form__mask__image
-#             = fa_icon 'picture-o', class: 'icon'
-#             %input.hidden{type: 'file'}
-#         %input.form__submit{type: 'submit', value: 'Send'}

-# -# .chat-main

-# -#   .chat-main__header
-# -#     .chat-main__header--group
-# -#       .chat-main__header--group-name
-# -#         = @group.name
-# -#       = link_to 'Edit', edit_group_path(@group), class: "chat-main__header--group-edit-btn"
-# -#     .chat-main__header-members
-# -#       MEMBER:
-# -#       - @group.users.each do |user|
-# -#         %i
-# -#           = user.name

-# -#   .chat-main__body
-# -#     .chat-main__body--messages-list
-# -#       - @messages.each do |message|
-# -#         = render partial: 'message', locals: {message: message}

-# -#   .chat-main__footer
-# -#     =form_for [@group, @message] do |f|
-# -#       .chat-main__footer-body
-# -#         =f.text_field :body, placeholder: 'type a message'
-# -#         %label.chat-file
-# -#           = f.file_field :image
-# -#           %i.fa.fa-image
-# -#       = f.submit 'Send', class: 'submit'

.wrapper

  = render 'shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          %li.member
            メンバー名
          %li.member
            メンバー名
          %li.member
            メンバー名
      .right-header
        .right-header__button
          Edit
    .messages
      .message
        .upper-message
          .upper-message__user-name
            メンバー
          .upper-message__date
            2017/04/04
        .lower-meesage
          .lower-message__content
            
      .message
        .upper-message
          .upper-message__user-name
          
          .upper-message__date
            
        .lower-meesage
          .lower-message__content
            
      .message
        .upper-message
          .upper-message__user-name
            
          .upper-message__date
            
        .lower-meesage
          .lower-message__content
          
    .form
      %form
        %input.form__message
        .form__mask
          %label.form__mask__image
            = fa_icon 'picture-o', class: 'icon'
            %input.hidden{type: 'file'}
        %input.form__submit{type: 'submit', value: 'Send'}