.notification{
  
  .notice{
    color: $white;
    text-align: center;
    background-color: $light_blue;
  }
    

  .alert{
    background-color: $alert_orange;
    color: $white;
    text-align: center;
  }
}